<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="YoutubeDLGui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <YoutubeDLGui.Properties.Settings>
            <setting name="UseEmbeddedBinary" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DestinationFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="VerboseOutput" serializeAs="String">
                <value>False</value>
            </setting>
        </YoutubeDLGui.Properties.Settings>
    </userSettings>
</configuration>